@import "../../styles/index.scss";

.newsWrap {
  background-color: var(--third);
  border-block: 1px solid var(--black);
  padding-block: 8rem;
  @media (max-width: 425px) {
    padding-block: 4rem;
  }
  .news {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    gap: 2rem;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }
    .newsLeft {
      padding-block: 3rem;
      background-image: url("../../assets/images/orange.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      text-align: center;
      display: grid;
      gap: 2rem;

      h1 {
        font-size: var(--fsz-5);
        text-transform: uppercase;

        @media (max-width: 425px) {
          font-size: var(--fsz-4);
        }
      }
    }
    span {
      height: 100%;
      width: 1px;
      background-color: var(--black);
      display: grid;
      place-self: center;
      @media (max-width: 768px) {
        display: none;
      }
      @media (max-width: 425px) {
        display: none;
      }
    }
    .newsRight {
      padding-block: 3rem;
      display: grid;
      justify-content: center;
      h1 {
        font-size: var(--fsz-5);
        text-transform: uppercase;
        place-self: center;
        @media (max-width: 425px) {
          text-align: center;
        }
      }
      p {
        place-self: center;
        width: 250px;
        font-size: var(--fsz-2);
      }
    }
  }
}
