@import "../../styles/index.scss";

.aboutWrap  {
    background-color: var(--second);
    .about {
        padding-block: 4rem;
        height: 100vh;
        h1 {
            font-size: var(--fsz-4);
        }
    }
}