@import "../../styles/index.scss";

.productsWrap {
  background-color: var(--third);
  border-block: 1px solid var(--black);
  .products {
    padding-block: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 2rem;
    h2 {
      font-size: var(--fsz-1);
      @media (max-width: 425px) {
        text-align: center;
      }
    }
    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }
    img {
      width: 100%;
      border: 1px solid var(--black);
    }
    div:first-child {
      text-align: left;
      font-size: var(--fsz_1);
      line-height: 4rem;
      font-weight: normal;
      @media (max-width: 425px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        margin-top: 4rem;
        margin-left: 4rem;
        width: 50%;
        border: none;
        @media (max-width: 425px) {
          margin: 2rem 0 0 0;
          width: 50%;
        }
      }
    }
  }
  .seeAll {
    padding-bottom: 4rem;
    display: flex;
    justify-content: end;
    p {
      font-size: var(--fsz-4);
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}
