@import "../../styles/index.scss";

.aboutHero {
  color: var(--black);
  background-color: var(--second);
  p {
    font-size: 3.4rem;
    padding: 4rem 0rem;
    @media (max-width: 425px) {
      font-size: 2rem;
    }
  }
}
