@import "../../styles/index.scss";

.aboutHero {
  color: var(--black);
  background-color: var(--second);
  p {
    font-size: var(--fsz-5);
    padding-block: 4rem;
    @media (max-width: 425px) {
      font-size: var(--fsz-4);
    }
  }
}
