@import "../styles/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

:root {
  --first: #faf6ee;
  --second: #e5e5e5;
  --third: #f1ebe4;
  --white: #ffffff;
  --purple: #cab5eb;
  --black: #111010;
  --blue: #4299e1;
  --yellow: #ffdb5b;
  --orange: #ff9b3d;

  --ff: "DM Sans", sans-serif;

  --fsz-1: 4rem;
  --fsz-2: 1.2rem;
  --fsz-3: 1rem;
  --fsz-4: 2rem;
  --fsz-5: 3.6rem;
  --fsz-6: 6rem;
  --fsz-8: 8rem;
  --fsz-12: 12rem;
}

.container {
  width: min(calc(100% - 2rem), 1367px);
  margin-inline: auto;
  font-family: var(--ff);
}
