@import "../../styles/index.scss";

.advisorWrap {
  padding-block: 4rem;
  text-transform: uppercase;
  @media (max-width: 425px) {
    padding-bottom: 0rem;
  }
  img {
    @media (max-width: 425px) {
      width: 50px;
    }
  }
  div:first-child {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    padding-bottom: 2rem;
    margin-left: -150px;
  }
  div:last-child {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    margin-left: -80px;
  }
  p {
    font-size: var(--fsz-8);
    color: var(--black);
    @media (max-width: 425px) {
      font-size: var(--fsz-5);
    }
  }
}
