@import "../../styles/index.scss";

.navigationWrap {
  background-color: var(--first);
  border-bottom: 1px solid var(--black);
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 72px;
    color: var(--black);

    .logo {
      font-size: var(--fsz-4);
    }
    .links {
      display: flex;
      gap: 6rem;
      font-size: var(--fsz-2);
      @media (max-width: 768px) {
        display: none;
      }
    }
    .order {
      display: flex;
      gap: 1rem;
      font-size: var(--fsz-2);
      div {
        display: flex;
        align-items: center;
        font-size: var(--fsz-2);
      }
    }
  }
}
