@import "../../styles/index.scss";

.follow {
  padding-block: 4rem;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    h1 {
      font-size: var(--fsz-1);
    }
    p {
      font-size: var(--fsz-3);
    }
  }
  .images {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    img {
      border: 1px solid var(--black);
      border-radius: 100%;
    }
    div:nth-child(2n) {
      margin-top: 80px;
    }
  }
}
